<div class="app">
  <div class="app__login" *ngIf="!isLoginSuccess">
    <hms-login [loginSignal]="loginSignal" (signIn)="onSignIn($event)"></hms-login>
  </div>
  <div class="app__layout" *ngIf="isLoginSuccess">
    <hms-header [headerData]="headerData" (searchTerm)="onSearch($event)" (updateProfile)="onUpdateProfile()"
      (changePassword)="onChangePassword()" (signOut)="onSignOut()"></hms-header>
    <div class="app__layout-content">
      <hms-sidebar [sideBarData]="sideBarData"></hms-sidebar>
      <router-outlet></router-outlet>
    </div>
    <hms-footer [footerData]="footerData"></hms-footer>
  </div>
</div>
