.app {
  height: 100vh;

  &__login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__layout {
    display: flex;
    flex-direction: column;
  }

  &__layout-content {
    display: flex;
    min-height: calc(100vh - 100px - 60px);
  }
}
