<div class="app">
  <div class="app__login" *ngIf="!isLoginSuccess">
    <hms-login (signIn)="onSignIn($event)"></hms-login>
    <h4>{{loginErrorMessage}}</h4>
  </div>
  <div class="app__layout" *ngIf="isLoginSuccess">
    <div class="app__layout-header">
      <hms-header [headerData]="headerData" (searchTerm)="onSearch($event)" (updateProfile)="onUpdateProfile()"
                  (changePassword)="onChangePassword()" (signOut)="onSignOut()"></hms-header>
    </div>
    <div class="app__layout-content">
      <hms-sidebar [sideBarData]="sideBarData"></hms-sidebar>
      <router-outlet></router-outlet>
    </div>
    <div class="app__layout-footer">
      <hms-footer [footerData]="footerData"></hms-footer>
    </div>
  </div>
</div>
